@import "../../assets/styles/variables";

.customPath {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    @media (max-width: 320px) {
        flex-direction: column;
    }
}

.input {
    height: 24px;
    width: 120px;
    padding: 4px;
    color: $text-color;
    margin-left: 7px;
    border: 1px solid $gray-color;

    @media (max-width: 320px) {
        text-align: center;
    }
}

.add {
    color: $main-color-lighter;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    @media (max-width: 320px) {
        display: block;
    }
}