.main {
    width: 50%;
    padding-bottom: 6%;

    @media (max-width: 1200px) {
        width: 60%;
    }
    @media (max-width: 992px) {   
        width: 70%;    
    }
    @media (max-width: 760px) {
        width: 80%;
    }
    @media (max-width: 480px) {
        width: 100%;
    }
}

.content {
    display: grid;
    gap: 30px;
    background-color: #fff;
    padding: 30px 20px;
}

.title {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.text {
    text-align: center;
}