@import "../../assets/styles/variables";

.wrapper {
    border: 1px solid $gray-color;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    width: 100%;
    height: 38px;
    padding: 0 8px;
    font-family: Tahoma, sans-serif;
    color: $text-color;

    @media (max-width: 340px) {
        &::placeholder {
            font-size: 0.8rem;
        }
    }
}

.iconEye {
    margin-right: 8px;
    color: $item-color-darker;
    cursor: pointer;
}