@import "../../assets/styles/variables";

.selectWrapper {
    display: inline-block;
    position: relative;
}

.selectCustom {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    cursor:pointer;
    height: 40px;
    width: 100px;
    background-color: $gray-color;
    padding: 0 6px;

    @-moz-document url-prefix() {
        text-indent: -2px;
    }
}

.angleDown {
    position: absolute;
    color: $text-color;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    margin-left: -16px;
}