@import "../../assets/styles/variables";

.main {
    display: grid;
    gap: 30px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .01);

    @media (max-width: 900px) {
        padding: 15px;
    }

    @media (max-width: 420px) {
        gap: 20px;
    }
}

.header {
    font-size: 1.2rem;
    justify-self: center;
    text-align: center;

    @media (max-width: 420px) {
        margin-bottom: 15px;
    }
}

.text {
    margin-bottom: 14px;
    font-size: 1.1rem;

    @media (max-width: 420px) {
        margin-bottom: 10px;
    }
}

.row {
    display: flex;
}

.input {
    width: 100%;
}

.buttonWrapper {
    text-align: center;
}

.button {
    height: 48px;
    max-width: 170px;
}

.importWrapper {
    margin-bottom: 20px;
}

.importLabel {
    display: inline-block;
    box-sizing: border-box;
    height: 48px;
    width: 170px;
    border: 2px solid $main-color-lighter;
    color: $main-color-lighter;
    text-align: center;
    line-height: 44px;

    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

.inputFile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.notice {
    margin-top: 20px;
    color: $notice-red;
}