@import "../../assets/styles/variables";

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 3%;
    z-index: 99;
}

.content {
    background-color: #fff;
    padding: 15px 15px 30px 15px;
    max-width: 510px;
    margin: 7% auto;
}

.close {
    text-align: end;
}

.iconClose {
    font-size: 24px;

    &:hover {
        cursor: pointer;
        color: $main-color-lighter;
    }
}