@import "../../assets/styles/variables";

.loading {
    width: 100%;
    color: #fff;
    text-align: center;
    background-color: $gray-color;
    padding: 13px 0;
}

.iconSpin {
    font-size: 20px;
}