@import "../../assets/styles/variables";

.content {
    display: grid;
    gap: 30px;
    justify-items: center;
}

.title {
    font-size: 1.15rem;
}

.downloadButton {
    height: 48px;
    max-width: 250px;
}

.notice {
    text-align: center;
    font-size: 0.95rem;
    display: grid;
    gap: 10px;
}

.noticeRed {
    color: $notice-red;
}