@import "../../assets/styles/variables";

.content {
    display: grid;
    gap: 30px;
    justify-items: center;
}

.title {
    font-size: 1.15rem;
}

.inputPassword {
    width: 50%;

    @media (max-width: 600px) {
        width: 70%;
    }
    @media (max-width: 520px) {
        width: 90%;
    }
}

.loading {
    max-width: 250px;
}

.button {
    height: 48px;
    max-width: 250px;
}

.notice {
    text-align: center;
    font-size: 0.95rem;
}

.noticeRed {
    color: $notice-red;
}

.tooltip {
    margin-left: 5px;
}