@import "../../assets/styles/variables";

.content {
    display: grid;
    gap: 30px;
    justify-items: center;
}

.inputPassword {
    width: 50%;

    @media (max-width: 600px) {
        width: 70%;
    }
    @media (max-width: 520px) {
        width: 90%;
    }
}

.button {
    height: 48px;
    max-width: 250px;
}

.loading {
    max-width: 250px;
}

.notice {
    text-align: center;
    color: $notice-red;
}