$body-background: #FBFBFB;
$text-color: #252E38;
$main-color-lighter: #2F6EA5;
$main-color-darker: #293A4A;
$item-color-lighter: #DDE1E3;
$item-color-darker: #4D5E72;
$notice-red: #D9534F;
$gray-color: #bdc3c7;